<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011962887703-rd323tv565fnba4luu8ivf5767vcc2je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011962887703-rd323tv565fnba4luu8ivf5767vcc2je</string>
	<key>API_KEY</key>
	<string>AIzaSyBIyJoiMX_tydYe_oCyety_r-7Etw3gj5g</string>
	<key>GCM_SENDER_ID</key>
	<string>1011962887703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teste</string>
	<key>PROJECT_ID</key>
	<string>nutri-diary-76228</string>
	<key>STORAGE_BUCKET</key>
	<string>nutri-diary-76228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011962887703:ios:08a0082aea9170bf7ee652</string>
</dict>
</plist>